.react-datepicker-wrapper {
    display: inline-block;
}
  
.react-datepicker__input-container input {
    width: auto;
    max-width: 200px;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    transition: border-color 0.3s;
}

.react-datepicker__input-container input:focus {
    border-color: #98c984;
    outline: none;
}

.react-datepicker-popper {
    z-index: 10;
}

.react-datepicker {
    border-radius: 0.375rem;
    border-color: #d1d5db;
}

.react-datepicker__header {
    background-color: #555555;
    color: rgb(232, 245, 233);
}

.react-datepicker__header * {
    color: inherit;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
width: 2rem;
line-height: 2rem;
}

.react-datepicker__day--selected {
    background-color: #bcffc2;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-weight: bold; /* Makes the text bold */
}

.react-datepicker__day--keyboard-selected {
    background-color: #f6f9ff;
    color: rgb(3, 3, 3);
}

.react-datepicker__day:hover {
    background-color: #e5e7eb;
}

.react-datepicker__day--highlighted {
    background-color: #e2f3f7;
    color: #000;
}